assets/schedule2.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <element name="schedule">
      <element name="generator">
        <attribute name="name">
          <data type="NCName"/>
        </attribute>
        <attribute name="version">
          <data type="decimal"/>
        </attribute>
      </element>
      <element name="version">
        <data type="NCName"/>
      </element>
      <element name="conference">
        <element name="acronym">
          <data type="NMTOKEN"/>
        </element>
        <ref name="title"/>
        <ref name="start"/>
        <element name="end">
          <data type="NMTOKEN"/>
        </element>
        <element name="days">
          <data type="integer"/>
        </element>
        <element name="timeslot_duration">
          <data type="NMTOKEN"/>
        </element>
        <element name="base_url">
          <data type="anyURI"/>
        </element>
      </element>
      <oneOrMore>
        <element name="day">
          <attribute name="date">
            <data type="NMTOKEN"/>
          </attribute>
          <attribute name="end">
            <data type="dateTime"/>
          </attribute>
          <attribute name="index">
            <data type="integer"/>
          </attribute>
          <attribute name="start">
            <data type="dateTime"/>
          </attribute>
          <oneOrMore>
            <ref name="room"/>
          </oneOrMore>
        </element>
      </oneOrMore>
    </element>
  </start>
  <define name="title">
    <element name="title">
      <text/>
    </element>
  </define>
  <define name="start">
    <element name="start">
      <data type="NMTOKEN"/>
    </element>
  </define>
  <define name="room">
    <element name="room">
      <optional>
        <attribute name="name">
          <data type="NCName"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <element name="event">
            <attribute name="guid"/>
            <attribute name="id">
              <data type="integer"/>
            </attribute>
            <element name="date">
              <data type="dateTime"/>
            </element>
            <ref name="start"/>
            <element name="duration">
              <data type="NMTOKEN"/>
            </element>
            <ref name="room"/>
            <element name="slug">
              <data type="NMTOKEN"/>
            </element>
            <element name="url">
              <data type="anyURI"/>
            </element>
            <element name="recording">
              <element name="license">
                <empty/>
              </element>
              <element name="optout">
                <data type="boolean"/>
              </element>
            </element>
            <ref name="title"/>
            <element name="subtitle">
              <text/>
            </element>
            <element name="track">
              <text/>
            </element>
            <element name="type">
              <data type="NCName"/>
            </element>
            <element name="language">
              <text/>
            </element>
            <element name="abstract">
              <text/>
            </element>
            <element name="description">
              <text/>
            </element>
            <element name="logo">
              <text/>
            </element>
            <element name="persons">
              <oneOrMore>
                <element name="person">
                  <attribute name="id">
                    <data type="integer"/>
                  </attribute>
                  <data type="anyURI"/>
                </element>
              </oneOrMore>
            </element>
            <element name="links">
              <zeroOrMore>
                <element name="link">
                  <attribute name="href">
                    <data type="anyURI"/>
                  </attribute>
                  <text/>
                </element>
              </zeroOrMore>
            </element>
            <element name="attachments">
              <zeroOrMore>
                <element name="attachment">
                  <attribute name="href"/>
                  <text/>
                </element>
              </zeroOrMore>
            </element>
          </element>
        </choice>
      </oneOrMore>
    </element>
  </define>
</grammar>
